* {
  margin: 0;
  padding: 0;
}

#data-table td,th{ 
    border: 1px solid rgb(181, 154, 254);
    width: 20rem;
    height: 2rem;
    text-align: center;
  }

#data-table{
    border: 2px solid  black;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}


body{
    display:flex;
    justify-content:center;
    height: 100%;
    align-items: center;
    font-family: miaowu;
    background: whitesmoke;
    margin: 2rem,2rem;
}



#analyze_b button {
  border: none;
  outline: none;
  margin: 2.5rem 0 2.5rem 0;
  width: 40%;
  height: 3rem;
  border-radius: 3rem;
  background: linear-gradient(90deg, rgb(181, 154, 254), rgb(245, 189, 253));
  /*box-shadow: 0 0 8px rgb(181, 154, 254);*/
  cursor: pointer;
  color: black;
}

#AnalyzeSheet{
  background-color: whitesmoke;
  box-shadow: 0 0 8px rgb(181, 154, 254);
}

div{
    margin: 2rem;
    
}

a {
    color: #377ba8;
}

#analyze{
  position:absolute; top:7rem; right:5rem; 
}


#analyze_b button:hover {
  color: white;
  box-shadow: 0 0 8px rgb(181, 154, 254);
}

.setting {
  position: absolute;
  right: 1.8rem;
  top: 0.8rem;
}

.setting img{
  height: 2rem;
  width: 2rem;
}

#hello{
  margin-top: 12rem;
}

#start{
  margin-top: 3rem;
}

#hello p{
  font-size: 5rem;
}

#start button:hover {
  color: white;
  box-shadow: 0 0 8px rgb(181, 154, 254);
}

#start button{
  border: none;
  outline: none;
  margin: 2.5rem 2rem 2.5rem 2rem;
  width: 14rem;
  height: 3rem;
  border-radius: 3rem;
  background: linear-gradient(90deg, rgb(181, 154, 254), rgb(245, 189, 253));
  cursor: pointer;
  color: black;
}

.setting-table{
  height: 90%;
  margin: 1rem;
  box-shadow: 0 0 8px rgb(181, 154, 254);
  border-radius: 1rem;
  padding: 1.5rem 1rem 1.5rem 2rem;
  line-height: 1rem;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  background: whitesmoke;
}

.setting-table th{
  width: 7rem;
  border: none;
  text-align: left;
}

.setting-table td{
  text-align: left;
  width: 3rem;
  border: none;
}

.setting_button{
  border: none;
  outline: none;
  margin: 2.5rem 2rem 0.8rem 2rem;
  width: 30%;
  height: 2rem;
  border-radius: 3rem;
  background: linear-gradient(90deg, rgb(181, 154, 254), rgb(245, 189, 253));
  cursor: pointer;
  color: black;
}

.result_table{
  border: 2px solid  black;
  border-collapse: collapse;
}

.result_table td,th{
  border: 1px solid rgb(181, 154, 254);
  width: 7.5rem;
  height: 2rem;
  text-align: center;
}

.top{
  height: 30%;
  text-align: center;
}

.right{
  float: right;
  margin-right: 0;
}

.left{
  float: left;
}

.middle{
  text-align: center;
  height: 30%;
  float: left;
}

.bottom{
  height: 30%;
  position: absolute;
  bottom: 8rem;
  left: 25rem;
  text-align: center;
}

.bottom button{
  border: none;
  outline: none;
  margin: 2.5rem 2rem 2.5rem 2rem;
  width: 14rem;
  height: 3rem;
  border-radius: 3rem;
  background: linear-gradient(90deg, rgb(181, 154, 254), rgb(245, 189, 253));
  cursor: pointer;
  color: black;
}

.bottom button:hover {
  color: white;
  box-shadow: 0 0 8px rgb(181, 154, 254);
}

/*.setting-table_changed{
  height: 90%;
  margin: 1rem;
  box-shadow: 0 0 8px rgb(181, 154, 254);
  border-radius: 1rem;
  padding: 1.5rem 1rem 1.5rem 2rem;
  line-height: 1rem;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  background: whitesmoke;
  border-collapse: collapse;
}

.setting-table_changed th{
  width: 7rem;
  border: none;
  text-align: left;
  border: .1rem solid rgb(181, 154, 254);
}

.setting-table_changed td{
  text-align: center;
  width: 5rem;
  border: none;
  border: .1rem solid rgb(181, 154, 254);
}*/
