<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>报纸质量评价系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./static/vue.js"></script>
    <script src="./static/dist/xlsx.core.min.js"></script>
    <link rel="stylesheet" href="static/style_analyze.css">
  </head>
  <body>
    <div id='app_analyze'>
      <div v-if='active === "analyze"'>
        <div class="analyze" >     
          <h3>欢迎来到分析页面，请手动填写或上传您要分析的文件数据（.xlsx）</h3>
          <br>
          <input type="file"onchange="OpenFile(this)" />
        </div>
        <div class="setting"><a href="/settings" ><img src="./static/settings.ico" alt=""></a></div>
        <div class="download">
          <p>请使用固定格式的表格模板。没有文档模板？<a href="">点此下载</a></p>
        </div>
        <div id="AnalyzeSheet">
          <table id="data-table">
            <tr>
              <th></th>
              <th>黑密度</th>
              <th>青密度</th>
              <th>品红密度</th>
              <th>黄密度</th>
              <th>L值</th>
              <th>a值</th>
              <th>b值</th>
              <th>印刷机器</th>
            </tr>
            <tr>
              <th>纸白</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
            </tr>
            <tr>
              <th>灰色</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td></td>
            </tr>
            <tr>
              <th>三色灰</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td></td>
            </tr>
            <tr>
              <th>40%青</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td></td>
            </tr>
            <tr>
              <th>40%品</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td></td>
            </tr>
            <tr>
              <th>40%黄</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td></td>
            </tr>
            <tr>
              <th>40%黑</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td></td>
            </tr>
            <tr>
              <th>青</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td></td>
            </tr>
            <tr>
              <th>品</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td></td>
            </tr>
            <tr>
              <th>黄</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td></td>
            </tr>
            <tr>
              <th>黑</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td></td>
            </tr>
            <tr>
              <th>报头</th>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td contentEditable="true"></td>
              <td></td>
            </tr>
          </table>
        </div>
        <div id="analyze_b"><button style="display:block;margin:0 auto" onclick="analyze_to_result()">一键分析</button></div>
      </div>
      <div v-if='active === "result"' class='result'>
        <div class='top'>
          <div class='left'>
            <h1>本次分析的得分为：{{score}}</h1>
          </div>
          <div class='right'>
            <table class='result_table'>
              <tr><th>灰平衡彩度差</th><th>中间调扩展值</th><th>报头M密度</th><th>报头Y密度</th><th>报头色差</th></tr>
              <tr><td>{{gray_banlance}}</td><td>{{middle_expend}}</td><td>{{header_M}}</td><td>{{header_Y}}</td><td>{{header_difference}}</td></tr>
            </table>
          </div>
        </div>
        <div class='middle'>
          <table class='result_table'>
            <tr><th>青网扩</th><th>青密度</th><th>青色色差</th><th>品网扩</th><th>品密度</th><th>品色色差</th><th>黄网扩</th><th>黄密度</th><th>黄色色差</th><th>黑网扩</th><th>黑密度</th><th>黑色色差</th></tr>
            <tr><td>{{cyan_expend}}</td><td>{{cyan_density}}</td><td>{{cyan_difference}}</td><td>{{magenta_expend}}</td><td>{{magenta_density}}</td><td>{{magenta_difference}}</td><td>{{yellow_expend}}</td><td>{{yellow_density}}</td><td>{{yellow_difference}}</td><td>{{black_expend}}</td><td>{{black_density}}</td><td>{{black_difference}}</td></tr>
          </table>
        </div>
        <div class='bottom'><button @click="go('analyze')">重新分析</button><button onclick='location.href=("/result")'>结束分析</button></div>
      </div>

    </div>

    
    <script>
      var vue3 = new Vue({
        el: '#app_analyze',
        data: {
            active: 'analyze',
            code:0,
            score:0,
            gray_banlance:0,
            cyan_expend:0,
            cyan_density:0,
            cyan_difference:0,
            magenta_expend:0,
            magenta_density:0,
            magenta_difference:0,
            yellow_expend:0,
            yellow_density:0,
            yellow_difference:0,
            black_expend:0,
            black_density:0,
            black_difference:0,
            header_M:0,
            header_Y:0,
            header_difference:0,
            middle_expend:0,
        },
        methods: {
            go (type) {
                this.active = type
            },    
            //change(data){
            //  for(let key in data){
            //   this.key=data[key];
            // }
            //}
        },

    })
     /* var ws_data = [
      [ "纸白", "", "", "", "", "", "",""],
      [ "灰色", "", "", "", "", "", "",""],
      [ "三色灰", "", "", "", "", "", "",""],
      [ "%40青", "", "", "", "", "", "",""],
      [ "%40品", "", "", "", "", "", "",""],
      [ "%40黄", "", "", "", "", "", "",""],
      [ "%40黑", "", "", "", "", "", "",""],
      [ "青", "", "", "", "", "", "",""],
      [ "品", "", "", "", "", "", "",""],
      [ "黄", "", "", "", "", "", "",""],
      [ "黑", "", "", "", "", "", "",""],
      [ "报头", "", "", "", "", "", "",""],
    ];
      var ws = XLSX.utils.aoa_to_sheet(ws_data);
      var html_string = XLSX.utils.sheet_to_html(ws, { id: "data-table0", editable: true });
      document.getElementById("demo").innerHTML = html_string;*/

      var wb;//读取完成的数据
      var rABS = true; //是否将文件读取为二进制字符串
      // var replacer = null;
      function replacer(key, value) {
          // console.log(key + ':' + value);
          return value;
      }
      function OpenFile(obj){
            if (!obj.files) {
                return;
            }
            var f = obj.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var data = e.target.result;
                // console.log(data);
                if (rABS) {
                    wb = XLSX.read(btoa(fixdata(data)), {//手动转化
                        type: 'base64'
                    });
                } else {
                    wb = XLSX.read(data, {
                        type: 'binary'
                    });
                }
                const sheet2JSONOpts = {
                  defval: ''//给defval赋值为空的字符串
                }
                var o = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]], {skipHeader:true,header:1});
                dt=document.getElementById('data-table');
                for(let i=1;i<13;++i){
                  var cells=dt.rows[i].getElementsByTagName("td");
                  for(let j=1;j<o[i].length;++j){
                    cells[j-1].innerHTML=o[i][j];
                  }
                }
                //document.getElementById('data-table').innerHTML = o;
            };
            if (rABS) {
                reader.readAsArrayBuffer(f);
            } else {
                reader.readAsBinaryString(f);
            }

        function fixdata(data) { //文件流转BinaryString
            var o = "",
                l = 0,
                w = 10240;
            for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
            o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
            return o;
        }

      }

      /*function Analyze()
      {
        var workbook=XLSX.utils.book_new();
        const table=document.getElementById("data-table");
        const worksheet=XLSX.utils.table_to_sheet(table);
        XLSX.utils.book_append_sheet(workbook,worksheet,'table1');
        XLSX.writeFile(workbook,'test.xlsx');
      }
      */

      function doit(type, fn, dl) 
      {
        var elt = document.getElementById('data-table');
        var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
        return dl ?
          XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
          XLSX.writeFile(wb, fn || ('test.' + (type || 'xlsx')));
      }

      function analyze_to_result() 
      {
        var elt = document.getElementById('data-table');
        var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"},);
        const sheet2JSONOpts = {
            /** Default value for null/undefined values */
            defval: 'null',//Assign empty string to defval
            header:1
        }
        var ws=XLSX.utils.sheet_to_json(wb.Sheets['Sheet JS'],sheet2JSONOpts);
        var xmlhttp;
        if (window.XMLHttpRequest)
        {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp=new XMLHttpRequest();
        }
        else
        {
            // IE6, IE5 浏览器执行代码
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.responseType='json';
        xmlhttp.open('POST','/analyze');
        //xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        console.log(ws);
        xmlhttp.send(JSON.stringify(ws));
        xmlhttp.onreadystatechange = function(){
            if(xmlhttp.readyState === 4){
                if(xmlhttp.status>=200&&xmlhttp.status<300){
                    //console.log(xmlhttp.response);
                    if(xmlhttp.response.code===1){
                      vue3.score=xmlhttp.response.score;
                      vue3.middle_expend=xmlhttp.response.middle_expend.toFixed(2);
                      vue3.cyan_expend=xmlhttp.response.cyan_expend.toFixed(2);
                      vue3.magenta_expend=xmlhttp.response.magenta_expend.toFixed(2);
                      vue3.yellow_expend=xmlhttp.response.yellow_expend.toFixed(2);
                      vue3.black_expend=xmlhttp.response.black_expend.toFixed(2);
                      vue3.cyan_density=xmlhttp.response.cyan_density.toFixed(2);
                      vue3.cyan_difference=xmlhttp.response.cyan_difference.toFixed(2);
                      vue3.magenta_density=xmlhttp.response.magenta_density.toFixed(2);
                      vue3.magenta_difference=xmlhttp.response.magenta_difference.toFixed(2);
                      vue3.yellow_density=xmlhttp.response.yellow_density.toFixed(2);
                      vue3.yellow_difference=xmlhttp.response.yellow_difference.toFixed(2);
                      vue3.black_density=xmlhttp.response.black_density.toFixed(2);
                      vue3.black_difference=xmlhttp.response.black_difference.toFixed(2);
                      vue3.header_M=xmlhttp.response.header_M.toFixed(2);
                      vue3.header_Y=xmlhttp.response.header_Y.toFixed(2);
                      vue3.header_difference=xmlhttp.response.header_difference.toFixed(2);
                      vue3.gray_banlance=xmlhttp.response.gray_banlance.toFixed(2);
                      vue3.go("result");
                    }
                    else if(xmlhttp.response.code===-1){
                      alert("测量数据格式错误！")
                    }
                }
            }
        }
        /*var t=wb.Sheets["Sheet JS"];
        const cyan_density=t['C9'].v;
        const magenta_density=t['D10'].v;
        const yellow_density=t['E11'].v;
        const black_density=t['B12'].v;
        const header_M=t['D13'].v;
        const header_Y=t['E13'].v;
        const cyan_difference=Math.sqrt()*/
      }

    </script>
    
   <!--<script>
    var wb;//读取完成的数据
    var rABS = true; //是否将文件读取为二进制字符串
    // var replacer = null;
    function replacer(key, value) {
        // console.log(key + ':' + value);
        return value;
    }
    function importf(obj) {//导入
        if (!obj.files) {
            return;
        }
        var f = obj.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            var data = e.target.result;
            // console.log(data);
            if (rABS) {
                wb = XLSX.read(btoa(fixdata(data)), {//手动转化
                    type: 'base64'
                });
            } else {
                wb = XLSX.read(data, {
                    type: 'binary'
                });
            }
            const sheet2JSONOpts = {
              /** Default value for null/undefined values */
              defval: ''//给defval赋值为空的字符串
            }
            var xlsxData = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]],sheet2JSONOpts);
            //wb.SheetNames[0]是获取Sheets中第一个Sheet的名字
            //wb.Sheets[Sheet名]获取第一个Sheet的数据
            document.getElementById("demo").innerHTML = JSON.stringify(xlsxData, replacer);
        };
        if (rABS) {
            reader.readAsArrayBuffer(f);
        } else {
            reader.readAsBinaryString(f);
        }
    }

    function fixdata(data) { //文件流转BinaryString
        var o = "",
            l = 0,
            w = 10240;
        for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
        o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
        return o;
    }
  </script>-->
  </body>
</html>