<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>报纸质量评价系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style_analyze.css">
    <!--<script src="static/vue.js"></script>-->
  </head>
  <body style="text-align: center;">
    <div id="hello">
    <p>让我们开始吧</p>
    </div>
    <div id="start">
        <button onclick='location.href=("/analyze")'>开始新的分析</button>
        <button onclick="To_User()">查看历史记录</button>
    </div>    
  </body>

</html>