<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>欢迎使用报纸评价分析系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/vue.js"></script>
    <script src="./static/login.js"></script>
    
</head>

<body>
    <div id='app' class="container">
        <div class="panel">
            <div class="content login">
                <div class="switch">
                    <span :class='{"active": active === "login"}' @click='go("login")'>登陆</span>
                    <span>/</span>
                    <span :class='{"active": active === "register"}' @click='go("register")'>注册</span>
                </div>
                <div class='form' id="fromLogin">
                    <template v-if='active === "register"'>
                        <div class="input"><input type="text" name="email" id='email' /><label for="email">邮箱</label></div>
                        <div class="input"><input type="text" name="Username" id="username" /><label for="username">用户名</label></div>
                        <div class="input"><input type="password" name="Password" id="Password" /><label for="Password">密码</label></div>
                        <div class="input"><input type="password" name="repeat" id="Passwordrepeat" /><label for="Passwordrepeat">重复密码</label></div>
                        <button type="register" onclick="RegisterPost()">注册</button>
                    </template>

                    <template v-if='active === "login"'>
                        <div class="input"><input type="text" name="Username" id="username"  /><label for="username">用户名</label></div>
                        <div class="input"><input type="password" name="Password" id="password" /><label for="Password">密码</label></div>
                        <span>忘记?</span>

                        <button type="submit" onclick="LoginPost()">登陆</button>
                    </template>

                    
                </div>
            </div>
        </div>
    </div>
</body>

<script>
var vue = new Vue({
    el: '#app',
    data: {
        active: 'login'
    },
    methods: {
        go (type) {
            this.active = type
        }
    },
    beforeMount () {
        
    }
})

function LoginPost()
{
    var xmlhttp;
    if (window.XMLHttpRequest)
    {
        //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
        xmlhttp=new XMLHttpRequest();
    }
    else
    {
        // IE6, IE5 浏览器执行代码
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    var username=document.getElementById('username').value;
    var password=document.getElementById('password').value;
    xmlhttp.open("POST","/login",true);
    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    xmlhttp.send("username&password");
}
</script>

</html>